{{>header}}
<div class="row">
  <div class="col-sm-8">
    <h2>Select a board</h2>
    <ul class="boards">
    {{#boards}}
    <li style="{{{style}}}"{{#active}} class="active"{{/active}}>
    <a href="{{id}}" class="select-board">
    {{#starred}}
    <span class="glyphicon glyphicon-star-empty"></span>
    {{/starred}}
    {{name}}
    </a>
    </li>
    {{/boards}}
    </ul>
  </div>
  <div class="col-sm-4">
    <h2>Select a list</h2>
    <ul class="nav nav-pills nav-stacked" id="lists">
      {{#lists}}
      <li>
      <a href="{{id}}" class="select-list">{{name}}</a>
      </li>
      {{/lists}}
    </ul>
  </div>
</div>
<div class="modal fade" id="sort-modal" tabindex="-1" role=dialog">
  <form>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Sort Trello list</h3>
      </div>
      <div class="modal-body">
        <table class="table highlight-th">
          <tr>
            <th>Board</th>
            <td id="board-name">{{board.name}}</td>
          </tr>
          <tr>
            <th>List name</th>
            <td id="list-name">{{list.name}}</td>
          </tr>
          <tr>
            <th>Number of cards</th>
            <td id="card-count">{{list.cards}}</td>
          </tr>
          <tr>
            <th>Sort Criterion</th>
            <td>
              <select class="form-control" id="criterion" name="criterion">
                <option value="name">By card name</option>
                <option value="activity">By last activity</option>
                <option value="due">By due date (blank to the top)</option>
                <option value="dueBottom">By due date (blank to the bottom)</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Sort order</th>
            <td>
              <select class="form-control" id="order" name="order">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
          <a href="#" target="trello" class="btn btn-primary" id="open">
            Open board in Trello
          </a>
          <button type="button" class="btn btn-inverse" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Sort cards</button>
        </div>
      </div>
    </div>
  </form>
</div>
