{{>header}}
<div class="jumbotron">
  <div  class="container">
    <h1>Trello Helper</h1>
    <p>...</p>
    <p>
    <a class="btn btn-primary btn-lg" href="/home/login" role="button">
      Log in with Trello
    </a>
    </p>
  </div>
</div>
{{>footer}}
