
  {{#heading}}
  </div>{{! container }}
  {{/heading}}
  <div class="container" role="footer">
    <footer class="row hidden-print">
        <div class="col-sm-12 right">
            <hr/>
            <span class="glyphicon glyphicon-copyright-mark"></span>
            2015. All Rights Reversed.
        </div>
    </footer>

    </div> {{! /container }}
  </body>
</html>
